<div class="wrapper">
  <div class="form-group">
    <div class="input-pair">
      <label for="name">Name</label>
      <input type="text" name="name">
    </div>
    <div class="input-pair">
      <label for="name">Last Name</label>
      <input type="text" name="lastName">
    </div>
  </div>
  <div class="input-pair">
    <label for="email">Email</label>
    <input type="email" name="email">
  </div>
  <div class="input-pair">
    <label>Choose</label>
    <select>
      <option>1</option>
      <option>1</option>
      <option>1</option>
    </select>
  </div>
  <button>Submit</button>
</div>